/* Code adapted from Steve Paling*/

html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-image: url(../images/applebackground.png);
    /*https://goo.gl/images/0rMIGx*/
}

body {
    font-family:'Lora', serif;
    font-size: 0.9em;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-family:'Nunito', sans-serif;
}

.byline {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 125%;
}

/* code adapted from http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
.anchor {
    display: block;
    position: relative;
    top: -7em;
    visibility: hidden;
}

.image_box {
    border: solid 1px #bcbcbc;
    max-width: 250px;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    padding-top: .25em;
}

.image_box > img {
    display: block;
    margin: auto;
}

.caption {
    background-color: #fdae61;
    font-family: 'Lora', serif;
    margin-left: 5%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
    width: 90%;
}

table {
    border-collapse:collapse;
    border-spacing: 0;
    font-family: 'Lora', serif;
    margin: 0px auto;
    margin-top: 1.5em;
}

tr td:first-child {
    padding-right: 2em;
}

tr td:not(:first-child) {
    border-bottom: solid 1px lightslategrey;
    padding-right: 3em;
    padding-left: 3em;
    text-align: center;
}

th {
    border-bottom: solid 3px lightslategrey;
}

td {
    padding: 0.5em;
}

caption {
    caption-side: bottom;
    margin-top: 1em;
}

#top {
    background-color: #ffffff;
    height: 7em;
    position: fixed;
    top: 0px;
    width: 100%;
}

#banner {
    background-color: lightslategrey;
    color: #ffffff;
    height: 4.1em;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

h1 > img {
    float: right;
    margin-left: 0.25em;
    vertical-align: baseline;
}

#banner > h1 {
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#global_nav {
    background-color: #ffffff;
    border-bottom: solid 2px lightslategrey;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25em;
    height: 2em;
    margin-top: 0.5em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    max-width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
}

#global_nav a:link {
    color: #000000;
}

#global_nav a:hover {
    color: lightslategray;
}

.nav_span {
    margin-right: 2em;
}

.nav_span a {
    text-decoration: none;
}

#container {
    width: 100%;
}

#content {
    margin-top: 9em;
    margin-right: auto;
    margin-left: auto;
    max-width: 958px;
}

#local_nav {
    float: left;
    font-family: 'Nunito', sans-serif;
    margin-top: 1em;
    width: 15%;
}

#local_nav > span {
    display: block;
    padding: 0.5em;
    padding-right: 1em;
}

#center {
    display: inline-block;
    width: 68%;
}

#center2 {
    display: inline-block;
    width:68%;
    text-align: center;
}

#center > h1 {
    font-size: 2.25em;
    margin-bottom: 0;
}

#center > h2 {
    font-size: 1.25em;
    margin-top: 2em;
    margin-bottom: 0;
}

#center > p {
    margin-top: 1.5em;
}

#center2 > h1 {
    font-size: 2.25em;
    margin-bottom: 0;
}

#center2 > h2 {
    font-size: 1.25em;
    margin-top: 2em;
    margin-bottom: 0;
}

#center2 > p {
    margin-top: 1.5em;
}

.fav1, .fav2, .fav3, .fav4, .fav5 {
    padding-top: 2em;
}

#ad_bar {
    float: right;
    margin-top: 1.5em;
    margin-right: 0.3em;
    width: 15%;
}

#footer {
    background-color: lightslategray;
    color: #ffffff;
    margin-bottom: 0;
    width: 100%;
}

#footer > p {
    height: 2em;
    margin-bottom: -1em;
    padding-top: 0.5em;
    text-align: center;
}
